@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bg_infinite {
  0% {
    background-position-x: 0vw;
  }
  100% {
    background-position-x: -100vw;
  }
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

.quote::before {
  content: "«";
  padding-right: 0.1rem;
  color: inherit;
}
.quote::after {
  content: "»";
  padding-left: 0.1rem;
  color: inherit;
}

#header {
  background-image: url("../img/bg_header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  max-height: 462px;
  height: 47vw;
}
#header nav {
  background-color: rgba(255, 255, 255, 0.5);
}
#header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
}
#header nav ul .header_logo {
  position: absolute;
  left: 50%;
}
@media screen and (max-width: 680px) {
  #header nav ul .header_logo {
    left: 45%;
  }
}
#header nav ul .header_logo:hover {
  animation: pulse 1s infinite;
}
#header nav li {
  display: inline-block;
}
#header nav li a {
  padding: 6px 12px;
  text-decoration: none;
}
#header nav li img {
  width: 5vw;
  height: auto;
  padding: 5px;
}
@media screen and (max-width: 680px) {
  #header nav li img {
    width: 10vw;
  }
}

#presentation {
  display: flex;
  flex-direction: row;
  padding: 0rem 1.25rem;
  margin: 2rem auto;
  text-align: center;
}
@media screen and (max-width: 680px) {
  #presentation {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 680px) {
  #presentation {
    padding: 0rem;
  }
}
#presentation div {
  width: 33%;
  padding: 1.25rem;
  margin-right: 1.25rem;
  background-color: #f2f2f2;
}
@media screen and (max-width: 680px) {
  #presentation div {
    width: 100%;
  }
}
#presentation div:last-of-type {
  margin-right: 0rem;
}
#presentation img {
  width: 80%;
  padding: 10% 10% 5% 10%;
}
@media screen and (max-width: 680px) {
  #presentation img {
    width: 40%;
    padding: 2% 5%;
  }
}
#presentation .img_middle {
  width: 70%;
  padding: 0% 0% 5% 0%;
}
@media screen and (max-width: 680px) {
  #presentation .img_middle {
    width: 35%;
    padding: 0% 0% 2% 0%;
  }
}
#presentation h2 {
  font-size: 1.7em;
  font-weight: 100;
}
#presentation p {
  font-size: 0.9em;
  line-height: 1.15em;
  font-weight: 100;
  color: gray;
  margin-top: 1rem;
}

.container_tour {
  padding: 0rem 1.25rem;
  margin: 2rem auto;
  padding: 2rem 9.25rem;
  display: flex;
  flex-direction: row;
  background-image: url("../img/bg_barre_grise.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
@media screen and (max-width: 680px) {
  .container_tour {
    padding: 0rem;
  }
}
@media screen and (max-width: 680px) {
  .container_tour {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    padding: 2rem;
  }
}
.container_tour div {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 680px) {
  .container_tour div {
    width: 100%;
  }
}
.container_tour img {
  animation: pulse 5s infinite;
  position: absolute;
  width: 20vw;
  left: 11rem;
  top: -4.5rem;
}
@media screen and (max-width: 680px) {
  .container_tour img {
    width: 26vw;
    left: 63%;
    top: -8rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 680px) {
  .container_tour img {
    width: 36vw;
  }
}
.container_tour h2 {
  font-size: 1.7em;
  font-weight: 100;
  font-weight: bold;
  padding: 1rem;
}
.container_tour p {
  font-size: 0.9em;
  line-height: 1.15em;
  font-weight: 100;
  display: inline-block;
  margin: auto 0rem;
}
.container_tour .tour--button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem 0.7rem 1rem;
  font-size: 1.4em;
  margin-right: 3rem;
  color: #00bcff;
  border: 1px solid #00bcff;
  transition: 250ms;
}
.container_tour .tour--button:hover {
  color: white;
  background-color: #00bcff;
}

.container_explore {
  padding: 0rem 1.25rem;
  margin: 2rem auto;
  padding: 1.5rem 4.5rem;
  display: flex;
  flex-direction: column;
  background-image: url("../img/aliens.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-size: 33%;
  background-position: 15% 1rem;
}
@media screen and (max-width: 680px) {
  .container_explore {
    padding: 0rem;
  }
}
@media screen and (max-width: 680px) {
  .container_explore {
    background-position: top;
  }
}
.container_explore div {
  width: 50%;
  align-self: end;
  padding: 2rem 5rem;
  border: 1px solid #CCC;
  text-align: center;
}
@media screen and (min-width: 360px) and (max-width: 680px) {
  .container_explore div {
    width: 100%;
    align-self: end;
    padding: 7rem 4rem 1rem 4rem;
  }
}
@media screen and (max-width: 360px) {
  .container_explore div {
    width: 100%;
    padding: 4rem 4rem 1rem 4rem;
  }
}
.container_explore h2 {
  font-size: 1.7em;
  font-weight: 100;
  font-size: 2em;
}
.container_explore span {
  font-weight: bold;
  color: #BDD0F9;
}
.container_explore p {
  margin-top: 0.4rem;
}

aside {
  padding: 1.5rem 4.5rem 1.5rem 8.5rem;
}
@media screen and (min-width: 360px) and (max-width: 680px) {
  aside {
    padding: 0rem 4rem;
  }
}
@media screen and (max-width: 360px) {
  aside {
    padding: 0rem 0.4rem;
  }
}
aside h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-bottom: 1rem;
}
aside h3 strong {
  font-weight: bold;
}
aside div {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 680px) {
  aside div {
    display: flex;
    flex-direction: column;
  }
}
aside div #quotes {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 5%;
}
@media screen and (max-width: 680px) {
  aside div #quotes {
    width: 100%;
  }
}
aside div #quotes .quote_01 {
  background-image: url("../img/ico_quotes_astronaut_01.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 10vw;
  background-position: top left;
  margin-top: 1rem;
  padding: 0rem 0rem 1.5rem 0rem;
  line-height: 1.1em;
}
@media screen and (max-width: 680px) {
  aside div #quotes .quote_01 {
    background-size: 14vw;
  }
}
aside div #quotes .quote_01 blockquote {
  margin-left: 35%;
  font-size: 0.9em;
  padding: 0.4em 0em;
}
@media screen and (max-width: 680px) {
  aside div #quotes .quote_01 blockquote {
    margin-left: 25%;
  }
}
aside div #quotes .quote_01 blockquote::before {
  content: "«";
  padding-right: 0.1rem;
  color: inherit;
}
aside div #quotes .quote_01 blockquote::after {
  content: "»";
  padding-left: 0.1rem;
  color: inherit;
}
aside div #quotes .quote_02 {
  background-image: url("../img/ico_quotes_astronaut_02.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 10vw;
  background-position: top left;
  margin-top: 1rem;
  padding: 0rem 0rem 1.5rem 0rem;
  line-height: 1.1em;
}
@media screen and (max-width: 680px) {
  aside div #quotes .quote_02 {
    background-size: 14vw;
  }
}
aside div #quotes .quote_02 blockquote {
  margin-left: 35%;
  font-size: 0.9em;
  padding: 0.4em 0em;
}
@media screen and (max-width: 680px) {
  aside div #quotes .quote_02 blockquote {
    margin-left: 25%;
  }
}
aside div #quotes .quote_02 blockquote::before {
  content: "«";
  padding-right: 0.1rem;
  color: inherit;
}
aside div #quotes .quote_02 blockquote::after {
  content: "»";
  padding-left: 0.1rem;
  color: inherit;
}

#form {
  width: 45%;
}
@media screen and (max-width: 680px) {
  #form {
    width: 100%;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form input[type=submit] {
  padding: 0.3rem 1em;
  margin: auto;
  background-color: #BDD0F9;
  border: 0px;
  color: white;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: 100;
  margin-top: 1.1rem;
  transition: 250ms;
}
form input[type=submit]:hover {
  color: white;
  background-color: #00bcff;
}
form div {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #f2f2f2;
}
form div label {
  color: #b3b3b3;
  margin-top: 0.5rem;
  display: block;
}
form div label:first-of-type {
  margin-top: 0rem;
}
form div input {
  border: 0;
  font-size: 1rem;
  padding: 0.2rem;
}
form div textarea {
  border: 0;
}

footer {
  padding-top: 14vw;
  background-image: url("../img/bg_cloud_footer.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100vw;
  background-repeat: repeat-x;
  animation: bg_infinite 60s infinite;
}
footer div {
  text-align: center;
  color: white;
  background-color: #63779F;
  padding: 0.7rem 0rem 0.4rem 0rem;
}
footer div strong {
  color: black;
}
footer div strong::before {
  content: "«";
  padding-right: 0.1rem;
  color: white;
}
footer div strong::after {
  content: "»";
  padding-left: 0.1rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
